<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wooyun.networkhook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
                <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="find the key" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
